# Loan Default Prediction Model

### Importing libraries

In [5]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Data Preprocessing

### Importing the dataset

In [66]:
# reading in the dataset
df = pd.read_csv('Loan_Default.csv')

## EDA - Exploratory Data Analysis

In [68]:
df.head()

,ID,year,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,...,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,Status,dtir1
0,24890,2019,cf,Sex Not Available,nopre,type1,p1,l1,nopc,nob/c,...,EXP,758,CIB,25-34,to_inst,98.728814,south,direct,1,45.0
1,24891,2019,cf,Male,nopre,type2,p1,l1,nopc,b/c,...,EQUI,552,EXP,55-64,to_inst,NaN,North,direct,1,NaN
2,24892,2019,cf,Male,pre,type1,p1,l1,nopc,nob/c,...,EXP,834,CIB,35-44,to_inst,80.019685,south,direct,0,46.0
3,24893,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,...,EXP,587,CIB,45-54,not_inst,69.376900,North,direct,0,42.0
4,24894,2019,cf,Joint,pre,type1,p1,l1,nopc,nob/c,...,CRIF,602,EXP,25-34,not_inst,91.886544,North,direct,0,39.0

In [69]:
# dropping columns
#columns = ['ID', 'year', 'age', 'Security_Type', '']

# getting info about our data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148670 entries, 0 to 148669
Data columns (total 34 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   ID                         148670 non-null  int64
 1   year                       148670 non-null  int64
 2   loan_limit                 145326 non-null  object
 3   Gender                     148670 non-null  object
 4   approv_in_adv              147762 non-null  object
 5   loan_type                  148670 non-null  object
 6   loan_purpose               148536 non-null  object
 7   Credit_Worthiness          148670 non-null  object
 8   open_credit                148670 non-null  object
 9   business_or_commercial     148670 non-null  object
 10  loan_amount                148670 non-null  int64
 11  rate_of_interest           112231 non-null  float64
 12  Interest_rate_spread       112031 non-null  float64
 13  Upfront_charges            109028 non-null  float64
 14  term                       148629 non-null  float64
 15  Neg_ammortization          148549 non-null  object
 16  interest_only              148670 non-null  object
 17  lump_sum_payment           148670 non-null  object
 18  property_value             133572 non-null  float64
 19  construction_type          148670 non-null  object
 20  occupancy_type             148670 non-null  object
 21  Secured_by                 148670 non-null  object
 22  total_units                148670 non-null  object
 23  income                     139520 non-null  float64
 24  credit_type                148670 non-null  object
 25  Credit_Score               148670 non-null  int64
 26  co-applicant_credit_type   148670 non-null  object
 27  age                        148470 non-null  object
 28  submission_of_application  148470 non-null  object
 29  LTV                        133572 non-null  float64
 30  Region                     148670 non-null  object
 31  Security_Type              148670 non-null  object
 32  Status                     148670 non-null  int64
 33  dtir1                      124549 non-null  float64
dtypes: float64(8), int64(5), object(21)
memory usage: 38.6+ MB

In [70]:
# getting the shape of our data
df.shape

(148670, 34)

In [71]:
df.describe()

,ID,year,loan_amount,rate_of_interest,Interest_rate_spread,Upfront_charges,term,property_value,income,Credit_Score,LTV,Status,dtir1
count,148670.000000,148670.0,1.486700e+05,112231.000000,112031.000000,109028.000000,148629.000000,1.335720e+05,139520.000000,148670.000000,133572.000000,148670.000000,124549.000000
mean,99224.500000,2019.0,3.311177e+05,4.045476,0.441656,3224.996127,335.136582,4.978935e+05,6957.338876,699.789103,72.746457,0.246445,37.732932
std,42917.476598,0.0,1.839093e+05,0.561391,0.513043,3251.121510,58.409084,3.599353e+05,6496.586382,115.875857,39.967603,0.430942,10.545435
min,24890.000000,2019.0,1.650000e+04,0.000000,-3.638000,0.000000,96.000000,8.000000e+03,0.000000,500.000000,0.967478,0.000000,5.000000
25%,62057.250000,2019.0,1.965000e+05,3.625000,0.076000,581.490000,360.000000,2.680000e+05,3720.000000,599.000000,60.474860,0.000000,31.000000
50%,99224.500000,2019.0,2.965000e+05,3.990000,0.390400,2596.450000,360.000000,4.180000e+05,5760.000000,699.000000,75.135870,0.000000,39.000000
75%,136391.750000,2019.0,4.365000e+05,4.375000,0.775400,4812.500000,360.000000,6.280000e+05,8520.000000,800.000000,86.184211,0.000000,45.000000
max,173559.000000,2019.0,3.576500e+06,8.000000,3.357000,60000.000000,360.000000,1.650800e+07,578580.000000,900.000000,7831.250000,1.000000,61.000000

In [72]:
# checking for null values
df.isnull().sum()

ID                               0
year                             0
loan_limit                    3344
Gender                           0
approv_in_adv                  908
loan_type                        0
loan_purpose                   134
Credit_Worthiness                0
open_credit                      0
business_or_commercial           0
loan_amount                      0
rate_of_interest             36439
Interest_rate_spread         36639
Upfront_charges              39642
term                            41
Neg_ammortization              121
interest_only                    0
lump_sum_payment                 0
property_value               15098
construction_type                0
occupancy_type                   0
Secured_by                       0
total_units                      0
income                        9150
credit_type                      0
Credit_Score                     0
co-applicant_credit_type         0
age                            200
submission_of_application      200
LTV                          15098
Region                           0
Security_Type                    0
Status                           0
dtir1                        24121
dtype: int64

In [73]:
# dropping irrelevant columns
df.drop(['ID'], axis=1, inplace=True) # axis for column, inplace for permanent change

In [74]:
df.drop(['year'], axis=1, inplace=True)

In [ ]:
# Used to drop colunmns with empty values
# data = data.dropna(subset=columns)

In [75]:
df.head()

,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,loan_amount,rate_of_interest,...,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,Status,dtir1
0,cf,Sex Not Available,nopre,type1,p1,l1,nopc,nob/c,116500,NaN,...,EXP,758,CIB,25-34,to_inst,98.728814,south,direct,1,45.0
1,cf,Male,nopre,type2,p1,l1,nopc,b/c,206500,NaN,...,EQUI,552,EXP,55-64,to_inst,NaN,North,direct,1,NaN
2,cf,Male,pre,type1,p1,l1,nopc,nob/c,406500,4.56,...,EXP,834,CIB,35-44,to_inst,80.019685,south,direct,0,46.0
3,cf,Male,nopre,type1,p4,l1,nopc,nob/c,456500,4.25,...,EXP,587,CIB,45-54,not_inst,69.376900,North,direct,0,42.0
4,cf,Joint,pre,type1,p1,l1,nopc,nob/c,696500,4.00,...,CRIF,602,EXP,25-34,not_inst,91.886544,North,direct,0,39.0

In [76]:
# getting a random column from our dataset
df.sample()

,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,loan_amount,rate_of_interest,...,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,Status,dtir1
120667,cf,Sex Not Available,nopre,type1,p3,l1,nopc,nob/c,346500,3.125,...,CIB,702,CIB,45-54,to_inst,72.48954,south,direct,0,43.0

In [77]:
# getting the percentage of missing values from our dataset
df.isnull().sum()*100/len(df)

loan_limit                    2.249277
Gender                        0.000000
approv_in_adv                 0.610749
loan_type                     0.000000
loan_purpose                  0.090133
Credit_Worthiness             0.000000
open_credit                   0.000000
business_or_commercial        0.000000
loan_amount                   0.000000
rate_of_interest             24.509989
Interest_rate_spread         24.644515
Upfront_charges              26.664425
term                          0.027578
Neg_ammortization             0.081388
interest_only                 0.000000
lump_sum_payment              0.000000
property_value               10.155378
construction_type             0.000000
occupancy_type                0.000000
Secured_by                    0.000000
total_units                   0.000000
income                        6.154571
credit_type                   0.000000
Credit_Score                  0.000000
co-applicant_credit_type      0.000000
age                           0.134526
submission_of_application     0.134526
LTV                          10.155378
Region                        0.000000
Security_Type                 0.000000
Status                        0.000000
dtir1                        16.224524
dtype: float64

## Taking Care of Missing Values

### Categorical Missing Values

In [92]:
columns = ['loan_limit', 'approv_in_adv', 'loan_purpose', 'Neg_ammortization', 'age', 'submission_of_application']

In [117]:
df['loan_limit'].mode()[0]

'cf'

In [100]:
# function to fill the columns with categorical empty values in our dataset with the most occurring values in the column (Mode)
for i in range(len(columns)):
    df[columns[i]].fillna(df[columns[i]].mode()[0],inplace=True)

/var/folders/m1/qrypxfwn5zq9m7q7m7_09_700000gn/T/ipykernel_30372/2969041564.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[columns[i]].fillna(df[columns[i]].mode()[0],inplace=True)

In [102]:
df.isnull().sum()*100/len(df)

loan_limit                    0.000000
Gender                        0.000000
approv_in_adv                 0.000000
loan_type                     0.000000
loan_purpose                  0.000000
Credit_Worthiness             0.000000
open_credit                   0.000000
business_or_commercial        0.000000
loan_amount                   0.000000
rate_of_interest             24.509989
Interest_rate_spread         24.644515
Upfront_charges              26.664425
term                          0.027578
Neg_ammortization             0.000000
interest_only                 0.000000
lump_sum_payment              0.000000
property_value               10.155378
construction_type             0.000000
occupancy_type                0.000000
Secured_by                    0.000000
total_units                   0.000000
income                        6.154571
credit_type                   0.000000
Credit_Score                  0.000000
co-applicant_credit_type      0.000000
age                           0.000000
submission_of_application     0.000000
LTV                          10.155378
Region                        0.000000
Security_Type                 0.000000
Status                        0.000000
dtir1                        16.224524
dtype: float64

### Numerical Missing Values

In [120]:
num_columns = ['rate_of_interest', 'Interest_rate_spread', 'Upfront_charges', 'property_value', 'income', 'LTV', 'dtir1', 'term']

In [134]:
df['rate_of_interest'].mean()

4.045475804367777

In [136]:
# function to fill the columns with numerical empty values in our dataset with the average values in the column (Mean)
for i in range(len(num_columns)):
    df[num_columns[i]].fillna(df[num_columns[i]].mean(),inplace=True)

/var/folders/m1/qrypxfwn5zq9m7q7m7_09_700000gn/T/ipykernel_30372/946381881.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[num_columns[i]].fillna(df[num_columns[i]].mean(),inplace=True)

In [138]:
df.isnull().sum()*100/len(df)

loan_limit                   0.0
Gender                       0.0
approv_in_adv                0.0
loan_type                    0.0
loan_purpose                 0.0
Credit_Worthiness            0.0
open_credit                  0.0
business_or_commercial       0.0
loan_amount                  0.0
rate_of_interest             0.0
Interest_rate_spread         0.0
Upfront_charges              0.0
term                         0.0
Neg_ammortization            0.0
interest_only                0.0
lump_sum_payment             0.0
property_value               0.0
construction_type            0.0
occupancy_type               0.0
Secured_by                   0.0
total_units                  0.0
income                       0.0
credit_type                  0.0
Credit_Score                 0.0
co-applicant_credit_type     0.0
age                          0.0
submission_of_application    0.0
LTV                          0.0
Region                       0.0
Security_Type                0.0
Status                       0.0
dtir1                        0.0
dtype: float64

In [140]:
df.head()

,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,loan_amount,rate_of_interest,...,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,Status,dtir1
0,cf,Sex Not Available,nopre,type1,p1,l1,nopc,nob/c,116500,4.045476,...,EXP,758,CIB,25-34,to_inst,98.728814,south,direct,1,45.000000
1,cf,Male,nopre,type2,p1,l1,nopc,b/c,206500,4.045476,...,EQUI,552,EXP,55-64,to_inst,72.746457,North,direct,1,37.732932
2,cf,Male,pre,type1,p1,l1,nopc,nob/c,406500,4.560000,...,EXP,834,CIB,35-44,to_inst,80.019685,south,direct,0,46.000000
3,cf,Male,nopre,type1,p4,l1,nopc,nob/c,456500,4.250000,...,EXP,587,CIB,45-54,not_inst,69.376900,North,direct,0,42.000000
4,cf,Joint,pre,type1,p1,l1,nopc,nob/c,696500,4.000000,...,CRIF,602,EXP,25-34,not_inst,91.886544,North,direct,0,39.000000

## Encoding Categorical Values

In [152]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148670 entries, 0 to 148669
Data columns (total 32 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   loan_limit                 148670 non-null  object
 1   Gender                     148670 non-null  object
 2   approv_in_adv              148670 non-null  object
 3   loan_type                  148670 non-null  object
 4   loan_purpose               148670 non-null  object
 5   Credit_Worthiness          148670 non-null  object
 6   open_credit                148670 non-null  object
 7   business_or_commercial     148670 non-null  object
 8   loan_amount                148670 non-null  int64
 9   rate_of_interest           148670 non-null  float64
 10  Interest_rate_spread       148670 non-null  float64
 11  Upfront_charges            148670 non-null  float64
 12  term                       148670 non-null  float64
 13  Neg_ammortization          148670 non-null  object
 14  interest_only              148670 non-null  object
 15  lump_sum_payment           148670 non-null  object
 16  property_value             148670 non-null  float64
 17  construction_type          148670 non-null  object
 18  occupancy_type             148670 non-null  object
 19  Secured_by                 148670 non-null  object
 20  total_units                148670 non-null  object
 21  income                     148670 non-null  float64
 22  credit_type                148670 non-null  object
 23  Credit_Score               148670 non-null  int64
 24  co-applicant_credit_type   148670 non-null  object
 25  age                        148670 non-null  object
 26  submission_of_application  148670 non-null  object
 27  LTV                        148670 non-null  float64
 28  Region                     148670 non-null  object
 29  Security_Type              148670 non-null  object
 30  Status                     148670 non-null  int64
 31  dtir1                      148670 non-null  float64
dtypes: float64(8), int64(3), object(21)
memory usage: 36.3+ MB

In [154]:
# creating a list of columns with object data types
categorical_columns = list(df.select_dtypes(include=['object']).columns)

# Print the list of object-type column names
print(categorical_columns)

['loan_limit', 'Gender', 'approv_in_adv', 'loan_type', 'loan_purpose', 'Credit_Worthiness', 'open_credit', 'business_or_commercial', 'Neg_ammortization', 'interest_only', 'lump_sum_payment', 'construction_type', 'occupancy_type', 'Secured_by', 'total_units', 'credit_type', 'co-applicant_credit_type', 'age', 'submission_of_application', 'Region', 'Security_Type']

In [164]:
df[categorical_columns[0]]

0         cf
1         cf
2         cf
3         cf
4         cf
          ..
148665    cf
148666    cf
148667    cf
148668    cf
148669    cf
Name: loan_limit, Length: 148670, dtype: object

In [201]:
from sklearn.preprocessing import OneHotEncoder

# Initialize OneHotEncoder
encoder = OneHotEncoder(sparse_output=False)

# Fit and transform categorical columns
encoded_array = encoder.fit_transform(df[categorical_columns])

# Debugging: Check shape mismatch
# print("Encoded array shape:", encoded_array.shape)
# print("Feature names length:", len(encoder.get_feature_names_out(categorical_columns)))

# Convert encoded array to DataFrame
encoded_df = pd.DataFrame(encoded_array, columns=encoder.get_feature_names_out(categorical_columns))

# Drop original categorical columns and merge with encoded data
df_updated = df.drop(columns=categorical_columns).join(encoded_df)

In [254]:
df_updated.sample(5)

,loan_amount,rate_of_interest,Interest_rate_spread,Upfront_charges,term,property_value,income,Credit_Score,LTV,Status,...,age_<25,age_>74,submission_of_application_not_inst,submission_of_application_to_inst,Region_North,Region_North-East,Region_central,Region_south,Security_Type_Indriect,Security_Type_direct
77992,296500,3.500000,-0.046100,7378.750000,360.0,338000.000000,6120.0,814,87.721893,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
62061,146500,4.045476,0.441656,3224.996127,180.0,497893.465696,4080.0,600,72.746457,1,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
11427,276500,4.045476,0.441656,3224.996127,324.0,568000.000000,4980.0,624,48.679577,1,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
27786,626500,4.250000,-0.181500,473.980000,360.0,978000.000000,9060.0,565,64.059305,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
44471,186500,3.625000,0.024700,1250.000000,360.0,258000.000000,3720.0,500,72.286822,0,...,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0

## Dropping Independent Variable

In [257]:
x = df_updated.drop('Status', axis = 1)
y = df_updated['Status']

In [233]:
x = x.values
print(x)

[[1.1650000e+05 4.0454758e+00 4.4165566e-01 ... 1.0000000e+00
  0.0000000e+00 1.0000000e+00]
 [2.0650000e+05 4.0454758e+00 4.4165566e-01 ... 0.0000000e+00
  0.0000000e+00 1.0000000e+00]
 [4.0650000e+05 4.5600000e+00 2.0000000e-01 ... 1.0000000e+00
  0.0000000e+00 1.0000000e+00]
 ...
 [4.4650000e+05 3.1250000e+00 8.1600000e-02 ... 0.0000000e+00
  0.0000000e+00 1.0000000e+00]
 [1.9650000e+05 3.5000000e+00 5.8240000e-01 ... 0.0000000e+00
  0.0000000e+00 1.0000000e+00]
 [4.0650000e+05 4.3750000e+00 1.3871000e+00 ... 0.0000000e+00
  0.0000000e+00 1.0000000e+00]]

In [246]:
x.shape

(148670, 69)

In [236]:
y = y.values
print(y)

[1 1 0 ... 0 0 0]

In [248]:
y.shape

(148670,)

## Splitting Data into Trainig and Test split

In [260]:
from sklearn.model_selection import train_test_split

In [262]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 1)

In [264]:
x_train

,loan_amount,rate_of_interest,Interest_rate_spread,Upfront_charges,term,property_value,income,Credit_Score,LTV,dtir1,...,age_<25,age_>74,submission_of_application_not_inst,submission_of_application_to_inst,Region_North,Region_North-East,Region_central,Region_south,Security_Type_Indriect,Security_Type_direct
118686,196500,3.500000,0.692900,4402.500000,180.0,268000.0,6600.000000,523,73.320896,22.000000,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
4568,286500,4.375000,0.639300,1584.240000,360.0,408000.0,10860.000000,607,70.220588,30.000000,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
83187,476500,2.990000,0.056000,11248.170000,180.0,998000.0,8040.000000,634,47.745491,36.000000,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
140392,496500,3.625000,0.210800,2480.000000,360.0,568000.0,10140.000000,657,87.411972,31.000000,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
142764,376500,3.490000,-0.289400,0.000000,360.0,558000.0,6957.338876,659,67.473118,37.732932,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73349,586500,4.000000,0.134700,128.880000,360.0,858000.0,6780.000000,576,68.356643,39.000000,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
109259,496500,3.625000,0.034900,9263.620000,360.0,588000.0,9180.000000,876,84.438776,34.000000,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
50057,306500,3.990000,1.209100,6906.500000,360.0,358000.0,3900.000000,556,85.614525,60.000000,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
5192,316500,5.250000,1.534500,1080.500000,360.0,358000.0,5040.000000,679,88.407821,56.000000,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
128037,256500,4.045476,0.441656,3224.996127,240.0,488000.0,0.000000,889,52.561475,15.000000,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0

In [266]:
y_train

118686    0
4568      0
83187     0
140392    0
142764    0
         ..
73349     0
109259    0
50057     0
5192      0
128037    1
Name: Status, Length: 118936, dtype: int64

## Feature Scaling

In [271]:
cols = ['loan_amount','rate_of_interest','Credit_Score', 'Upfront_charges', 'property_value','LTV','dtir1', 'term', 'income']

In [273]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train[cols] = sc.fit_transform(x_train[cols])
x_test[cols] = sc.transform(x_test[cols]) # we didn't use fit_transform here so as to avoid information leakage on the test set

## Converting Dataframe into Numpy array to feed into model

In [276]:
x_train = x_train.values
print(x_train)

[[-7.34233420e-01 -1.11873809e+00  6.92900000e-01 ...  1.00000000e+00
   0.00000000e+00  1.00000000e+00]
 [-2.42760075e-01  6.75668047e-01  6.39300000e-01 ...  0.00000000e+00
   0.00000000e+00  1.00000000e+00]
 [ 7.94794765e-01 -2.16462052e+00  5.60000000e-02 ...  0.00000000e+00
   0.00000000e+00  1.00000000e+00]
 ...
 [-1.33543776e-01 -1.13870653e-01  1.20910000e+00 ...  1.00000000e+00
   0.00000000e+00  1.00000000e+00]
 [-7.89356264e-02  2.47007418e+00  1.53450000e+00 ...  1.00000000e+00
   0.00000000e+00  1.00000000e+00]
 [-4.06584523e-01 -1.03654081e-04  4.41655660e-01 ...  1.00000000e+00
   0.00000000e+00  1.00000000e+00]]

In [278]:
x_test= x_test.values
print(x_test)

[[ 0.52175402  0.93201178  0.0222     ...  0.          0.
   1.        ]
 [-0.57040897 -0.60605062  1.2861     ...  0.          0.
   1.        ]
 [ 0.63097032 -1.63142555 -0.3707     ...  1.          0.
   1.        ]
 ...
 [ 0.57636217  0.16298058  0.5549     ...  1.          0.
   1.        ]
 [ 0.19410512 -1.37508182 -0.2471     ...  1.          0.
   1.        ]
 [ 1.72313331 -0.86239435  0.1509     ...  0.          0.
   1.        ]]

In [280]:
y_train = y_train.values
print(y_train)

[0 0 0 ... 0 0 1]

In [ ]:
y_test = y_test.values
print(y_test)

In [298]:
y_test.shape

(29734,)

## Training Model on Various Classification Models

### Logistic Regression

In [306]:
from sklearn.linear_model import LogisticRegression
logistic_classifier = LogisticRegression(random_state = 0, max_iter = 500)
logistic_classifier.fit(x_train, y_train)

LogisticRegression(max_iter=500, random_state=0)

In [310]:
# making predictions on our model
y_pred = logistic_classifier.predict(x_test)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[0 0]
 [0 0]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

In [312]:
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.model_selection import cross_val_score

cm = confusion_matrix(y_test, y_pred)
print(cm)
print('Accuracy score -- ', accuracy_score(y_test, y_pred))

[[22234   215]
 [ 3692  3593]]

0.8686016008609673